/*=Typography=*/

@font-face {
    font-family: 'Ubuntu';
    src: url('/fonts/UbuntuL.ttf')
    /*    src: url('fonts/Lato-Regular.ttf');*/
}

@font-face {
    font-family: 'Raleway';
    src: url('/fonts/Raleway-Regular.ttf')
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/*=Base=*/

section {
    padding: 5em 0;
}

footer {
    padding: 3em 0;
}

@media screen and (max-width: 768px) and (min-width: 485px) {
    max-width: 70%;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

a {
    @extend %transition;
}


/*Header*/

.navbar-default {
    background: #fff;
}
.navbar a {
    text-align: center;
}


/*Hover effect for nav*/

.hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    right: 50%;
    bottom: 0;
    background: #DA4177;
    ;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-underline-from-center:hover:before,
.hvr-underline-from-center:focus:before,
.hvr-underline-from-center:active:before {
    left: 0;
    right: 0;
}

.navbar a {
    font-size: 16px;
}

.nav .navbar-nav a:hover {
    color: #DA4177;
}

.navba-default .navbar-brand {
    font-size: 50px;
}

.navbar-default .navbar-brand:hover {
    font-size: 18px;
    color: #DA4177;
}


/*--------------------Container-------------------------*/

.container > h1 {
    color: black;
    font-weight: 500;
    text-align: center;
}

p {
    font-size: 16px;
    line-height: 1.5;
}


/*=Layout=*/


/*Main*/

.sec-main {
    height: auto;
}

.greeting-heading {
    text-align: center;
    height: 70%;
}

.greeting-heding span {
    display: inline-block;
}


/*Animation*/

.greeting-heading span:nth-child(1) {
    font-family: 'Open Sans', sans-serif;
    font-size: 200px;
    font-weight: 600;
    color: #e8c060;
    animation: pulse 2s cubic-bezier(0.68, -0.55, 0.26, 1.55) both;
}

.greeting-heading span:nth-child(2) {
    /*    margin-right: 30px;*/
    font-family: 'Open Sans', sans-serif;
    font-size: 200px;
    font-weight: 600;
    color: #ea9078;
    animation: pulse 2s cubic-bezier(0.68, -0.55, 0.26, 1.55) .2s both;
}

.greeting-heading span:nth-child(3) {
    /*    margin-right: 30px;*/
    font-family: 'Open Sans', sans-serif;
    font-size: 200px;
    font-weight: 600;
    color: #65c3ad;
    animation: pulse 2s cubic-bezier(0.68, -0.55, 0.26, 1.55) .4s both;
}

.greeting-heading span:nth-child(4) {
    font-family: 'Open Sans', sans-serif;
    font-size: 200px;
    font-weight: 600;
    color: #65c3ad;
    animation: pulse 2s cubic-bezier(0.68, -0.55, 0.26, 1.55) .6s both;
}

.greeting-heading span:nth-child(5) {
    /*    margin-left: -28px;*/
    font-family: 'Open Sans', sans-serif;
    font-size: 200px;
    font-weight: 600;
    color: #dc6b6b;
    animation: pulse 2s cubic-bezier(0.68, -0.55, 0.26, 1.55) .8s both;
}

.greeting-heading span:nth-child(6) {
    font-family: 'Open Sans', sans-serif;
    font-size: 200px;
    font-weight: 600;
    color: #ea9078;
    animation: pulse 2s cubic-bezier(0.68, -0.55, 0.26, 1.55) 1s both;
}

.main-heading {
    display: inline;
    /*    display: inline;*/
    font-family: 'Ubuntu', monospace;
    font-size: 40px;
    text-align: center;
    height: 40px;
    color: black;
}


/*-----------------About--------------------*/

.about-intro p {
    font-size: 20px;
    color: #777;
}

.about-heading-hr {
    border: 4px solid #DA4177;
    width: 30%;
    position: absolute;
    left: 5;
    top: -5;
}

.sec-about {
    font-family: 'Raleway', sans-serif;
    position: relative;
    background-color: #f9f9f9;
    height: auto;
    margin-top: 10px;
}

.sec-about a {
    text-decoration: underline;
}

.sec-about strong {
    color: black;
}


/*-------------------Skills-----------------*/

.sec-skills {
    font-family: 'Raleway', sans-serif;
    position: relative;
    background: white;
    height: auto;
}

.skills-hr {
    border: 4px solid #DA4177;
    width: 10%;
    position: absolute;
    left: 45%;
    top: 60;
}

.skillsets {
    position: relative;
    margin-top: 20px;
    /*    height: 600px;*/
    border-radius: 15px;
    background-color: white;
}

.frameworks_img {
    width: 80%;
}

.pts-icon {
    width: 30%;
    transform: rotate(7deg);
}

.github-icon {
    width: 30%;
    transform: rotate(-7deg);
}

.responsive-icon {
    width: 30%;
    transform: rotate(40deg);
}

.sketch-icon {
    margin: 0 auto;
    width: 30%;
    transform: rotate(10deg);
}

.personal_skills span {
    background-color: #d6d5d5;
    border-radius: 5px;
    color: #777;
    font-size: 15px;
    margin-left: 10px;
    margin-top: 10px;
    cursor: pointer;
    text-align: center;
}

.personal_skills h3 {
    color: #777;
}


/*Hover Effect for personal skills*/


/* Float Shadow */

.hvr-float-shadow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.hvr-float-shadow:before {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: '';
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 0;
    background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
    /* W3C */
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform, opacity;
    transition-property: transform, opacity;
}

.hvr-float-shadow:hover,
.hvr-float-shadow:focus,
.hvr-float-shadow:active {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    /* move the element up by 5px */
}

.hvr-float-shadow:hover:before,
.hvr-float-shadow:focus:before,
.hvr-float-shadow:active:before {
    opacity: 1;
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}

.personal_skills span:nth-child() .sec-testimonials p {
    font-style: italic;
}

.sec-contact .btn {
    text-transform: uppercase;
}

.soc-media-ul a {
    color: black;
    text-decoration: none;
}

.soc-media-ul {
    display: flex;
    /*    justify-content: center;*/
}

.soc-media-ul li:not(:first-child) a {
    margin-left: 1em;
}

.soc-media-ul a {
    display: block;
    padding: 0.5em .65rem;
    font-size: 1.5rem;
    color: black;
    border-radius: 50%;
    border: 2px solid;
}

.soc-media-ul li:nth-child(1) a:hover {
    color: #3b5998;
}

.soc-media-ul li:nth-child(2) a:hover {
    color: #C92228;
}

.soc-media-ul li:nth-child(3) a:hover {
    color: #0077B5;
}

.soc-media-ul li:nth-child(4) a:hover {
    color: #7B0099;
}


/*--------------Portfolios--------------*/

.sec-folio {
    font-family: 'Raleway', sans-serif;
    position: relative;
    height: auto;
    background-color: #f9f9f9;
}

.sec-folio .row {
    margin-bottom: 3em;
}

.sec-folio h1 {
    text-align: center;
    margin-bottom: 50px;
}

.folio-h1-hr {
    border: 4px solid #DA4177;
    width: 25%;
    position: absolute;
    top: 65px;
    left: 37%;
}

#masonry {
    position: relative;
    height: 1200px;
}

.item {
    float: left;
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    height: 600px;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.36);
    -moz-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.36);
    box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.36);
}

.item img {
    position: relative;
    z-index;
    -1;
    width: 100%;
    /*    height: 100%;*/
}

.item:hover .explore {
    top: 0;
    left: 0;
    visibility: visible;
    width: 100%;
    cursor: pointer;
}


/*
.item img:hover .explore {
    visibility: visible
}
*/

.airsound {
    position: absolute;
    top: 0;
    left: 400;
    height: 500px;
    width: 400px;
    /*    background-color: #f9f9f9;*/
    margin-bottom: 20px;
    /*    border: solid 1px black;*/
    -webkit-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.36);
    -moz-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.36);
    box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.36);
}

.airsound img {
    position: relative;
    width: 100%;
}

.kvbox {
    position: absolute;
    top: 0;
    left: 800;
    height: 800px;
    width: 300px;
    /*    background-color: #f9f9f9;*/
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.36);
    -moz-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.36);
    box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.36);
}

.kvbox img {
    position: relative;
    width: 100%;
}

.usability {
    height: 400px;
    width: 400px;
    position: absolute;
    top: 500;
    left: 0;
    /*    background-color: #f9f9f9;*/
    -webkit-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.36);
    -moz-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.36);
    box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.36);
}

.usability img {
    position: relative;
    width: 100%;
}

.bbman {
    width: 400px;
    height: 550px;
    position: absolute;
    top: 700;
    left: 300;
    /*    background-color: #f9f9f9;*/
    -webkit-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.36);
    -moz-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.36);
    box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.36);
}

.bbman img {
    position: relative;
    width: 100%;
}

.more {
    position: absolute;
    top: 600;
    left: 600;
    height: 230px;
    width: 700px;
    color: darkgrey;
    text-align: center;
    font-size: 16px;
    font-weight: 200px;
    -webkit-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.36);
    -moz-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.36);
    box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.36);
}

.more img {
    width: 10%;
    margin: 50 auto;
    display: block;
}

.item-des p {
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    padding-left: 20px;
}

.item-des h4 {
    padding-left: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    font-size: 16px;
}

.explore {
    position: absolute;
    left: 0%;
    top: 0;
    width: 0%;
    height: 100%;
    background-color: rgba(19, 19, 19, 0.5);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease-in;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease;
    visibility: hidden;
    overflow: hidden;
}

.explore h1 {
    width: 150px;
    height: 50px;
    position: absolute;
    top: 30%;
    left: 30%;
    border: solid 2px white;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 300;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    /*    vertical-align: central;*/
    padding-top: 10px;
    padding-left: 5px;
    margin: 0;
}


/*--------------------------Footer---------------------------*/

footer {
    background: white;
    font-family: 'Raleway', sans-serif;
    color: black;
}

footer span {
    font-size: 20px;
    float: left;
    margin-left: 10px;
}

footer p {
    text-align: center;
    fon-size 20px;
}


/*-----------------------Animation-----------------------*/

@keyframes pulse {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/*---------------------------Media Queries-------------------*/

@media only screen and (min-width: 320px) {
    /*
    .sec-about h1 {
             text-align: center;   
        }
        .about-heading-hr {
        position: absolute;
        left:250;
        top: -5;
*/
}


/* Extra Small Devices, Phones */

@media only screen and (max-width: 480px) {
    .sec-about h1 {
        text-align: center;
    }
    .about-heading-hr {
        position: absolute;
        left: 150;
        top: -10;
    }
    .greeting-heading {
        height: 40%;
    }
    .greeting-heading span:nth-child(1) {
        font-size: 100px;
    }
    .greeting-heading span:nth-child(2) {
        font-size: 100px;
    }
    .greeting-heading span:nth-child(3) {
        font-size: 100px;
    }
    .greeting-heading span:nth-child(4) {
        font-size: 100px;
    }
    .greeting-heading span:nth-child(5) {
        font-size: 100px;
    }
    .greeting-heading span:nth-child(6) {
        font-size: 100px;
    }
    .main-heading {
        font-size: 20px;
    }
    .about-intro p {
        font-size: 15px;
    }
    .sec-about h3 {
        font-size: 20px;
    }
    footer p,
    footer span {
        font-size: 10px;
        text-align: center;
    }
    .pts-icon {
        display: none;
    }
    .github-icon {
        width: 20%;
    }
    .responsive-icon {
        width: 20%;
    }
    .sketch-icon {
        width: 20%;
    }
    .skills-hr {
        width: 20%;
        left: 155;
    }
    .about-heading-hr {
        left: 120;
        width: 40%;
    }
    .folio-h1-hr {
        left: 70;
        width: 63%;
    }
    .soc-media-ul {
        margin-left: 100px;
    }
    /* Small Devices, Tablets */
    @media only screen and (min-width: 768px) {}
}


/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) {}